
{% extends "navbar.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<br>
<div class="panel panel-default">
    <div class="panel-heading"> Hey </div>
      <br>
      

      

        <form id="user_inputs" method="POST" action="{{ url_for('data_capture') }}">

            <!-- https://developer.snapappointments.com/bootstrap-select/examples/ -->
            
            
            
            <label for="beneficiario"> Beneficiario </label> <br>
            <div class="form-group" >
                
                <select class="selectpicker" id="beneficiario" name="beneficiario" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" title="Seleccione un Beneficiario..." data-width="800px" >
                    {% for w in vendor %}
                        <option> {{ w | safe }}  </option>
                    {% endfor %}                    
                </select>    
            </div>

            <div class="form-group" >
                <label for="categoria"> Categoria </label><br> 
                <select class="selectpicker" id="categoria" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="categoria" title="Seleccione una Categoria de Gasto..." data-width="800px" >
                    {% for w in vendor %}
                        <option> {{ w | safe }}  </option>
                    {% endfor %}                    
                </select>   
            </div>
            <br>
            <label > Fecha de Pago </label>
            <div class=' col-sm-5 input-group date' id='datetimepicker1' data-provide="datepicker" name="categoria" title="Seleccione una Categoria de Gasto...">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            
            <heading>{{message}}</heading>
            <heading>{{message2}}</heading>
            <heading>{{message3}}</heading>
            
                       
             <br><button type="capturar" class="btn btn-block"> Capturar </button> <br>
                          
    </form>

    </div>

</div>


{% endblock %}


{% block chart %}
	<script>
       $('.select').selectpicker();
       
       
       $('.datepicker').datepicker();
       
       function ajaxFirstOnChange() {
    var x = document.getElementById("provedor").value;
    document.getElementById("demo").innerHTML = "You selected: " + x;
};
	</script>
{% endblock %}


