
{% extends "navbar.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<br>
<label style="font-size: 38px">{{ title }}</label> 

<a href="/nomina_dar_de_alta" class="button_main button1" style="width:25%;float: right;"> Editar Lista de Empleados </a> 

<br><br><br>
<div class="panel panel-default">
    <div class="panel-heading"> Filtros </div>
    <center>  <br>
      <label for="tipo_filtro"> Tipo de Filtro </label> 
      <select class="selectpicker" id="tipo_filtro" onchange='ajaxFirstOnChange()' data-live-search="true" data-max-options="{{ velocity_max | safe }}" name="tipo_filtro" title="Seleccione un Top de Filtro..." data-width="20%" >
             {% for w in tipo_filtro %}
                        <option> {{ w | safe }}  </option>
             {% endfor %}                    
     </select>
     
     <tab1> </tab1><label for="forma_pago"> Filtrar por: </label> 
      <select class="selectpicker" id="forma_pago" onchange='ajaxFirstOnChange()' data-live-search="true" name="forma_pago" title="Seleccione una o mas opciones..." data-width="20%" >
             {% for w in opciones %}
                        <option> {{ w | safe }}  </option>
             {% endfor %}                    
     </select>
          <tab1><a href="/nomina" class="button_main button2" style="width:25%;font-size: 14px"> Filtrar </a> </tab1>

         </center> 
         <br>.
</div>

<div class="panel panel-default" style="height:500px;">
    <div class="panel-heading"> Resultados </div>
{{df| safe }}
</div>


{% endblock %}


{% block chart %}
	<script>
       $('.select').selectpicker();
       
       
       $('.datepicker').datepicker();
       
       function ajaxFirstOnChange() {
    var x = document.getElementById("provedor").value;
    document.getElementById("demo").innerHTML = "You selected: " + x;
};
	</script>
{% endblock %}


